In [ ]:
import pandas as pd
import numpy as np
# explore the dataset, null, duplicated, statistic and information summary, insert column by condition, rename column, copy column, remove column
#filter the data in condition

In [ ]:
# load the csv to dataframe
df = pd.read_csv("student.csv")

In [ ]:
#show the dataset
print(df.to_string())

In [ ]:
#show the dataset
print(df)

In [ ]:
# show the summary of Null value
print(df.isnull().sum())

In [ ]:
# show the summary of duplicated rows
print(df.duplicated().sum())

In [ ]:
# show top 10 rows
print(df.head(10))

In [ ]:
# show top 5 rows
print(df.head())

In [ ]:
# show bottom 5 rows
print(df.tail())

In [ ]:
# show the information of dataframe
print(df.info())

In [ ]:
# show the statistic data of dataframe
print(df.describe())

In [ ]:
# show specific row and column
print(df.loc[0,["name","mark"]])

In [ ]:
# add a column by numpy function 
df["passed"] = np.where((df["mark"] >= 60), "passed", "fail")

In [ ]:
# add a column by apply function
df["passed"] = df["mark"].apply(lambda mark: "passed" if mark >= 60 else "fail")

In [ ]:
# add a column in copy a column
passed = df["passed"]
df["status"] = passed

In [ ]:
# rename column
df = df.rename(columns = {'mark': 'score'} )

In [ ]:
# remove column
df.drop("passed", axis = 1, inplace=True)

In [ ]:
# filter by listed condtion in same column (IN filter)
list = ["Four", "Three"]
print(df.loc[df["class"].isin(list)], "\n")

In [ ]:
# filter by listed condtion and multiple conditions and not operator in same column (IN filter)
print(df[~df["class"].isin(list) 
                | (df["score"] >= 60) 
                & (df["gender"] == "female")])

In [ ]:
# use where to filter the row and the Null will be filled in the rows which is not match
print(df.where(df["class"] ==  "Four"))